<h1>Lista de Productos</h1>

{{#if products.length}}
    <ul>
        {{#each products}}
            <li>
                <strong>{{this.title}}</strong> —
                {{this.description}} —
                Precio: ${{this.price}} —
                Stock: {{this.stock}}
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No hay productos cargados.</p>
{{/if}}

<hr>

<a href="/realtimeproducts">Ir a Productos en Tiempo Real</a>
